weed
*.pyc
__pycache__/
checkpoints
experiments
experiments_weedsgalore
distill_experiments
dropout_experiments
experiments_weedsgalore
distill_experiments_weedsgalore
distill1_experiments
scripts/__pycache__
train
sota/train_ddp.py